body {
	background-color: #ecd9c6;
  text-align: justify;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Caudex'; font-size: 18px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.left {
  position: absolute;
  left: 0px;
  width: 25%;
  height: 100%;
  padding: 20px;
}

.centre {
  position: absolute;
  margin-left: 25%;
  left: 0px;
  width: 50%;
  height: 100%;
  min-width: 400px;
  padding: 20px;
}

.centretop {
	height: 90%;
}

.centrebottom {
	height: 10%;
}

.right {
  position: absolute;
  margin-left: 75%;
  left: 0px;
  width: 25%;
  height: 100%;
  padding: 20px;
}

.righttop {
	height: 50%;
}

.rightmiddle {
	height: 50%;
}

.rightbottom {
	height: 0%;
}

.enabled {
  background-color: green
}

.modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal.target {
    opacity:1;
    pointer-events: auto;
}

.keypad {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
