body {
  margin: 0;
  padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  align-items: end;
}

#header-margin-left {
  margin-left: 100px;
}