{% extends "base.html" %}

{% block content %}
    <form method="post">
        {{name}}
        <label for="owns">Owns:</label>
        <input type="checkbox" id="owns" name="owns" value="True" {{owns_checked}}>
        <label for="read">Read:</label>
        <input type="checkbox" id="read" name="read" value="True" {{read_checked}}>
        <input type="submit" value="OK">

        <!--<table>
            <tr>
                <td class="label">
                    Book:
                </td>
                <td>
                    <input type="text" name="name" value="{{name}}">
                </td>
                <td class="error">
                    {{book_name_error}}
                </td>
                <td class="label">
                    Year:
                </td>
                <td>
                    <input type="number" name="year" value="{{year}}">
                </td>
                <td class="error">
                    {{book_year_error}}
                </td>
                <td class="label">
                    Owns:
                </td>
                <td>
                    <input type="checkbox" name="owns" value="True" {{owns_checked}}>
                </td>
                <td class="label">
                    Read:
                </td>
                <td>
                    <input type="checkbox" name="read" value="True" {{read_checked}}>
                </td>
            </tr>
        </table>
        <input type="submit">-->
    </form>

{% endblock %}

