html { 
    height: 100%;
    -webkit-user-select: none;  /* Avoid text highlighting (Chrome and Safari) */
    -moz-user-select: none;     /* Avoid text highlighting (Firefox) */
    -ms-user-select: none;      /* Avoid text highlighting (IE 10+) */
}

body { 
    height: 100%; 
    margin: 0;
    padding: 0 
}

#map-div { 
    height: 100% 
}

.control-panel { 
    background-color: #4d6489; 
    padding: 15px 50px 15px 50px; 
}

.control-panel label { 
    font-size: 16px; 
    font-weight: bold; 
    padding-right: 20px 
}

.control-panel-top { 
    margin-top: 10px 
}

.control-panel-bottom { 
    margin-bottom: 10px;
    width: 90%; 
}

.logo-image {
    height: 14px; 
}

.logo-image-left { 
    padding-right: 20px 
}

.logo-image-right { 
    padding-left: 20px 
}

select { 
    background-color: #4d6489; 
    font-size: 16px; 
    font-weight: bold; 
    width: 300px; 
    border: 0; 
    outline: 0; 
    cursor: pointer;
    -moz-appearance: none; /* remove arrow (Firefox) */
    -webkit-appearance: none; /* remove arrow (Chrome and Safari) */
}

select::-ms-expand {
    display: none; /* remove arrow (IE10+) */
}
